@font-face
     {
        font-family: 'bike'; 
        src: url('../BB/Fonts/Choplin-Medium-DEMO.otf'); 
     }

@font-face
     {
        font-family: 'bike-light'; 
        src: url('../BB/Fonts/Choplin-ExtraLight-DEMO.otf'); 
     }

body{
    margin: 0px;
    background-color: #a0a0a0;
}

.parent{
    height: 100%;
    background-color: #a0a0a0;
}

.table1{
    vertical-align: center;
}

tr:nth-child(odd) {background-color: #d5d5d5;}
tr:nth-child(even) {background-color: #f5f5f5;}
th, tr{text-align: center;}

th{font-family: bike;}
th:hover{cursor: pointer;}

.container{
    border-color: #000000;
    padding-bottom: 2%;
}

.button{
    display: none;
}

.btn:hover{
    cursor: pointer;
}

.top-title{
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: bike;
    text-align: center;
}

.table{
    background-color: #d0d0d0;
    font-family: bike-light;
    border-color: 2px solid black;
}

.nobreak{
    display: inline;
    padding-left: 1%;
    font-family: bike;
}

.top{
    background-color: #505050;
    height: 10%;
    text-align: right;
    padding: 1% 2% 1% 0%;
    color: #d0d0d0;
}

.top-link{
    color: white;
}

.top-link:hover{
    color: #d0d0d0;
    font-style: normal;
    text-decoration: none;
    transition: 0.1s;
}

.bottom{
    background-color: #a0a0a0;
    height: 90%;
    overflow-y: auto;
}