
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyMember</title>
</head>
<body>
    <div>
        <h1 style="margin:auto;width:100%;text-align:center;">@ViewBag.Message</h1>
    </div>
</body>
</html>
